annotated-types
anyio
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
distro
dnspython
email-validator
fonttools
h11
httpcore
httpx
httpx-sse
idna
Jinja2
jiter
jsonschema
jsonschema-specifications
kiwisolver
lxml
MarkupSafe
matplotlib
numpy
outcome
packaging
pandas
pillow
pip
ply
pycparser
pydantic
pydantic_core
pydantic-settings
PyJWT
pyparsing
PySocks
python-dateutil
python-dotenv
python-multipart
python-pptx
pytz
referencing
requests
rpds-py
six
sniffio
sortedcontainers
soupsieve
sse-starlette
starlette
tqdm
trio
trio-websocket
typing_extensions
typing-inspection
urllib3
uvicorn
websocket-client
wsproto
xlsxwriter
